*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
 background-color: tan;
 height: 200px;
 width: 300px;
 text-align: center;
 border-radius: 5px;
}
button{
    height: 50px;
    background-color: cadetblue;
    font-size: 20px;
    margin-top: 50px;   
}
h1{
    margin-top: 40px;
}
.btn{
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px;
}